<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowNetworkAccess</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>code traceur</string>
	<key>CFBundleIdentifier</key>
	<string>es.sejas.ibooks.demo</string>
	<key>CFBundleName</key>
	<string>code traceur</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>Height</key>
	<string>400</string>
	<key>MainHTML</key>
	<string>index.html</string>
	<key>Width</key>
	<string>400</string>
</dict>
</plist>
